[user]
	name = Mort Yao
	email = soi@mort.ninja
	signingkey = 78203251
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	su = status -uno
	unstage = reset HEAD --
	last = log -1 HEAD
	ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	d = diff HEAD --
	af = add -f
[color]
	ui = auto
[core]
	editor = emacs -nw
	quotepath = off
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[push]
	default = matching
[color "status"]
	added = bold
	changed = yellow bold
	untracked = yellow
	branch = white bold
[color "diff"]
	old = red bold
	new = yellow bold
	whitespace = white bold reverse
[color "branch"]
	current = bold
[sendemail]
	smtpencryption = tls
	smtpServer = smtp.gmail.com
	smtpUser = mort.yao@gmail.com
	smtpServerPort = 587
[commit]
	gpgsign = true

