[user]
	name = Mort Yao
	email = soi@mort.ninja
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
        su = status -uno
	unstage = reset HEAD --
	last = log -1 HEAD
	ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
        d = diff HEAD --
        af = add -f
[color]
	ui = auto
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[core]
	editor = emacs
[push]
	default = matching
[color "status"]
	added = bold
	changed = yellow
	untracked = yellow
	branch = bold
[color "diff"]
	old = yellow bold reverse
	new = yellow bold
	whitespace = white bold reverse
[color "branch"]
	current = bold
