*
!.config/
!.config/chromium/
!.config/chromium/Default/
!.config/chromium/Default/User StyleSheets/
!.config/chromium/Default/User StyleSheets/Custom.css
!.config/devilspie2/
!.config/devilspie2/*.lua
!.config/tint2/
!.config/tint2/tint2rc
!.ssh/
!.ssh/id_rsa.pub
!.emacs
!.gemrc
!.gitconfig
!.gitignore
!.gvimrc
!.rvmrc
!.tmux.conf
!.vimrc
!.xinitrc
!.Xmodmap
!.xprofile
!.zshrc
!.zsh/
!.zsh/[^_]*
